<h1>Events</h1>

<% if @events.empty? %>

	<i>No events listed.</i><br /><br />

<% else %>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Date/time</th>
		<th>Max occupancy</th>
	</tr>
	<% @events.each do |e| %>
		<tr>
			<td><%= link_to e.name, e %></td>
			<td><%= e.address %></td>
			<td><%= e.time %></td>
			<td><%= e.max_occup %></td>
		</tr>
	<% end %>
</table>

<% end %>

<%= link_to "Host event", new_event_path, class: 'btn btn-primary' %>