<!DOCTYPE html>
<html>
<head>
  <title>SmashListings</title>
  <%= content_for :header %> 
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdJZtxDGjqTz3P245H_4irStvcwkufV3Y&sensor=true">
  </script>
  <%= render "layouts/partials/shim" %>
</head>
<body>
	
	<%= render "layouts/partials/header" %>
	<div class="container main-con">
		<%= yield %>
	</div>
	<%= render "layouts/partials/footer" %>

</body>
</html>
